SITE='http://localhost:4321' # your site domain

# Google tag manager / analytics setting
PUBLIC_GTAG_MEASUREMENT_ID='' # Google tag measurement ID 'G-MXXXXXXX'

# Github token setting to call github repository API with higher limit
GITHUB_PERSONAL_ACCESS_TOKEN='' # Github Personal access token 'ghp_xxxxxxxxxxxxxxxxxxxxxxxxxx'

# Blog post comment setting
PUBLIC_GISCUS_REPO='leandrodeobarbosa/my-portfolio' # giscus.app repo 'your-github-username/your-repo'
PUBLIC_GISCUS_REPO_ID='R_kgDORQ87Ug' # giscus.app repo id 'R_xxxxxxx'
PUBLIC_GISCUS_CATEGORY='Comentários do Blog' # giscus.app category 'Comments'
PUBLIC_GISCUS_CATEGORY_ID='DIC_kwDORQ87Us4C3S9m'  # giscus.app category id 'DIC_xxxxxxxxxxx' 