# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VS Code
.vscode/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Terraform Dependencies
.terraform/

# Arquivos de state
*.tfstate
*.tfstate.*

# Lock de execução (runtime)
*.tfstate.lock.info

# Variáveis sensíveis
*.tfvars
*.tfvars.json

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivo de crash
crash.log

# CLI config local
.terraformrc
terraform.rc