---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Leandro de O Barbosa é um DevOps Engineer com foco em AWS, automação e eficiência. Apaixonado pelo ecossistema de tecnologia para negócios e pelas tendências em IA. Vamos trocar uma ideia sobre carreira e mercado?
		</p>
	</div>
</div>


