---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';
import { SITE_PROJECTS_DESCRIPTION } from '../../consts';

---

<BaseLayout
	title="All My Projects"
	description={SITE_PROJECTS_DESCRIPTION}
	type='projects'
	slug='/projects'
>
  <div class='container'>
    <div class='mb-10'>
      <h1 class='text-3xl font-bold font-mono mb-2'># All Projects</h1>
      <p class='text-zinc-700 dark:text-zinc-300 text-lg'>All my project portfolio from real projects to open source projects.</p>
    </div>
    <ProjectList projects={projects} featured={false}/>
  </div>
</BaseLayout>
